<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cochinitoDeDulce.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<!-- 
	antigua para sqlserver
	<connectionStrings>
		<add name="SqlCadenaConexion" connectionString="Data Source=DESKTOP-RFH04FU;Initial Catalog=dbGastosIngresos;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	y -->
	<connectionStrings>
		<add name="SqliteCadenaConexion"  connectionString="Data Source=.\CochinitoDeDulceDb.db; version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>